.categoria-card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  transition: transform 0.2s ease;
  height: 180px;
  position: relative;
}

.categoria-card:hover {
  transform: scale(1.03);
}

.categoria-card .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* 👇 Overlay oscuro */
.categoria-card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* Ajustá la opacidad a gusto */
  z-index: 1;
}

/* Asegurar que el texto esté arriba del overlay */
.categoria-card .card-img-overlay {
  z-index: 2;
}


.producto-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.producto-card:hover {
  transform: scale(1.03);
}

.producto-card img {
  height: 180px;
  object-fit: contain;
}

#contadorCarrito {
  font-size: 0.75rem;
  padding: 0.35em 0.6em;
}

/* carrito */
#carritoResumen {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 12px;
}